<div class="modal-header">
  <h1 class="modal-title" id="modal-basic-title">Mis Reservas</h1>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="container">
  <div class="info">
    <ul>
      <div *ngFor="let fecha of diasDeLaSemana">
        <li *ngIf="getHorasPorUsuario(getIdSesion(), fecha.month, fecha.day, reservas).length > 0 ">
          Día: {{ fecha.day }}/{{ fecha.month }}
          <ul>
            <div *ngFor="let hora of getHorasPorUsuario(getIdSesion(), fecha.month, fecha.day, reservas)">
              <li>
                Hora: {{ hora.franjaHoraria }}
                <button type="button" class="btn-cancelar" (click)="cancelarReserva(getIdSesion(),fecha.month, fecha.day, hora.id)">Cancelar Reserva</button>
                <ul>
                  <div *ngFor="let entrenador of getEntrenadorPorUsuario(getIdSesion(), fecha.month ,fecha.day, hora.id, reservas)">
                     Entrenador: {{entrenador.nombre}}
                  </div>
                </ul>
              </li>
            </div>
          </ul>
        </li>
      </div>
    </ul>
  </div>
  <div>
  </div>
</div>
