.small-button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
  
  .small-button:hover {
    background-color: #0056b3;
  }

