<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Horas</th>
        <th scope="col" *ngFor="let Dia of dias">{{ Dia.nombre }}</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let Hora of horas">
        <td>{{ Hora.franjaHoraria }}</td>
        <td *ngFor="let Dia of dias" [ngStyle]="{'background-color': obtenerIdTrainer(asignaciones, Dia.id, Hora.id).length > 0 ? 'yellow' : 'green'}">
          {{ obtenerNombres(obtenerIdTrainer(asignaciones, Dia.id, Hora.id)).join(', ') }}
          <ng-container *ngIf="estaId(obtenerIdTrainer(asignaciones, Dia.id, Hora.id), id)">
            <button (click)="eliminarHora(Dia.id, Hora.id)">-</button>
          </ng-container>
          <ng-container *ngIf="!estaId(obtenerIdTrainer(asignaciones, Dia.id, Hora.id), id)">
            <button (click)="agregarHora(Dia.id, Hora.id)">&plus;</button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
    
    <form>
      <label>Días</label>
      <ng-multiselect-dropdown
      [placeholder]="'Seleccione los días'"
      [settings]="dropdownSettings"
      [data]="dias"
      [(ngModel)]="selectedItems"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
      name="selectedDays">
      </ng-multiselect-dropdown>
      <label>Desde:</label>
      <select id = "desde">
        <option *ngFor="let Hora of horas" [value] = "Hora.id">{{Hora.franjaHoraria}}</option>
      </select>
      <label>Hasta:</label>
      <select id = "hasta">
        <option *ngFor="let Hora of horas" [value] = "Hora.id">{{Hora.franjaHoraria}}</option>
      </select>
    </form>

    <button type="button" class="btn btn-primary" (click)="guardarDisponibilidad()">Guardar Disponibilidad</button>
    <button type="button" class="btn btn-danger">Limpiar Disponibilidad</button>
  </body>
</html>

