<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Horas</th>
            <th scope="col" *ngFor="let Dia of dias">{{ Dia.nombre }}</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <td>9:00</td>
            <td>10:00</td>
            <td>11:00</td>
            <td></td>
          </tr>
        </tbody>
    </table>
    
    <select>
        <p>Desde:</p>
        <option value="9:00">9:00</option>
    </select>
      
</body>
</html>

