<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calendario</title>
</head>
<body>
  <form (ngSubmit)="elegirContacto(id1)">
    <input type="number" [(ngModel)]="id1" name="id1" placeholder="Introduce el ID">
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  <h1>Bienvenido {{usuario?.nombre}}</h1>

  @if(isTrainer){  
    <app-horario-entrenador></app-horario-entrenador>
  }
  @else{
    <app-horario-cliente></app-horario-cliente>
  }
</body>
</html>
