.tarjeta {
    border-radius: 50px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    width: auto; 
    height: auto; 
    margin: 20px;
    padding: 21px;
    text-align: center;
    display: inline-block;
    align-items: center;
    height: 100%;
    margin-left: 150px;
    overflow: hidden; 
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

body{
    width: 100%;
}

.texto{
    text-align: center;
    font-size: 20px;
    color:#6c7a89
}


body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.titulo {
    text-align: center;
    display: block; 
    margin: 0 auto; 

    font-size: 50px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

.L{
    background-color: rgb(223, 139, 218);
    color: purple;
    min-height: 150px;
    max-width: 200px;
    margin: 20px;
    padding: 21px;
    text-align: center;

}

.M{
    background-color: rgb(158, 158, 230);
    color: rgb(46, 34, 156);
    min-height: 150px;
    max-width: 200px;
    margin: 20px;
    padding: 21px;
    text-align: center;
    
}

.X{
    background-color: rgb(147, 223, 172);
    color: rgb(15, 102, 34);
    min-height: 150px;
    max-width: 200px;
    margin: 20px;
    padding: 21px;
    text-align: center;
    
}

.J{
    background-color: rgb(221, 149, 116);
    color: rgb(163, 55, 13);
    min-height: 150px;
    max-width: 200px;
    margin: 20px;
    padding: 21px;
    text-align: center;
    
}

.V{
    background-color: rgb(211, 148, 172);
    color: rgb(136, 15, 110);
    min-height: 150px;
    max-width: 200px;
    margin: 20px;
    padding: 21px;
    text-align: center;
    
}

.S{
    background-color: rgb(209, 230, 115);
    color: rgb(145, 145, 17);
    min-height: 150px;
    max-width: 200px;
    margin: 20px;
    padding: 21px;
    text-align: center;
    
}

.D{
    background-color: rgb(107, 219, 219);
    color: rgb(16, 96, 107);
    min-height: 150px;
    max-width: 200px;
    margin: 20px;
    padding: 21px;
    text-align: center;
    
}

.boton {
    background-color: transparent;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
  }
  
  .boton:hover {
    background-color: rgba(172, 186, 187, 0.5);
    color: white;
  }

  .calendario-container {
    background-color: white; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  

  .entrenador {
    display: inline-block;
    margin-right: 3px;
  }

  .ent{
    font-weight: bold;
    font-size: 14px;
  }

  

  .tablas {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  .tablas table {
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    font-size: medium;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    overflow: hidden;
    font-size: 1.3rem;
  }
  
  .tablas th, .tablas td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .tablas tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .tablas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5466ca;
    color: white;
  }

  .botonReservas{
    background-color: goldenrod;
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    margin: 15px;
  }

  
 