<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="horario-cliente.component.css" rel="stylesheet">
  <title>Calendario</title>
</head>
<body>
    <h1 class="titulo">
        Horario reservas
    </h1>

    <br>
    <p class="texto"> Elige el día y pulsa sobre reservar para ver los horarios.</p>
    
    <div class="tarjetas">
        <div class="tarjeta L">
            <h1>
               Lunes {{ getDayClass(1)}}
            </h1>    
    
            <p *ngFor = "let Entrenador of Entrenadores">
                Entrenadores: {{Entrenador.nombre}}
            </p>
    
            <button class="boton" (click)="toggleCalendario(1)" >
                Reservar
            </button>

        </div>
    
        <div class="tarjeta M">
            <h1>
               Martes {{ getDayClass(2)}}
            </h1>    
    
            
            <p *ngFor = "let Entrenador of Entrenadores">
                Entrenadores: {{Entrenador.nombre}}
            </p>
            
    
            <button class="boton" (click)="toggleCalendario(2)">
                Reservar
            </button>
        </div>
    
        <div class="tarjeta X">
            <h1>
               Miercoles {{ getDayClass(3)}}
            </h1>    
    
            <p *ngFor = "let Entrenador of Entrenadores">
                Entrenadores: {{Entrenador.nombre}}
            </p>
    
            <button class="boton" (click)="toggleCalendario(3)">
                Reservar
            </button>
        </div>
    
        <div class="tarjeta J">
            <h1>
               Jueves {{ getDayClass(4)}}
            </h1>    
    
            <p *ngFor = "let Entrenador of Entrenadores">
            Entrenadores: {{Entrenador.nombre}}
            </p>
    
            <button class="boton" (click)="toggleCalendario(4)">
                Reservar
            </button>
        </div>
    
        <div class="tarjeta V">
            <h1>
               Viernes {{ getDayClass(5)}}
            </h1>    
    
            <p *ngFor = "let Entrenador of Entrenadores">
            Entrenadores: {{Entrenador.nombre}}
            </p>
    
            <button class="boton" (click)="toggleCalendario(5)">
                Reservar
            </button>
        </div>
    
        <div class="tarjeta S">
            <h1>
               Sabado {{ getDayClass(6)}}
            </h1>    
    
            <p *ngFor = "let Entrenador of Entrenadores">
            Entrenadores: {{Entrenador.nombre}}
            </p>
    
            <button class="boton" (click)="toggleCalendario(6)">
                Reservar
            </button>
        </div>
    
        <div class="tarjeta D">
            <h1>
               Domingo {{ getDayClass(7)}}
            </h1>    
    
            <p *ngFor = "let Entrenador of Entrenadores">
            Entrenadores: {{Entrenador.nombre}}
            </p>
    
            <button class="boton" (click)="toggleCalendario(7)">
                Reservar
            </button>
        </div>
    </div>

    @if(mostrarCalendarioFlag){
        <div class="calendario-container">
            <ejs-schedule></ejs-schedule>
        </div>
        
    }
    
      



    


</body>
</html>