<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="horario-cliente.component.css" rel="stylesheet">
  <title>Calendario</title>
</head>
<body>
    <h1 class="titulo">
        Horario reservas semana: {{ startDateOfWeek | date: 'dd/MM/yyyy' }} - {{ endDateOfWeek | date: 'dd/MM/yyyy' }};
    </h1>



    <br>
    <p class="texto"> Elige el día y pulsa sobre reservar para ver los horarios.</p>
    
    <div class="tarjetas">
        <div class="tarjeta L">
            <h1>
               Lunes
            </h1>    
    
            <strong class="ent">Entrenadores: </strong>
            <p *ngFor="let Entrenador of entrenadores" class="entrenador">{{ Entrenador.nombre }}</p>
            <br>
            <button class="boton" (click)="mostrarTablaLunes()" >
                Reservar
            </button>

        </div>
    
        <div class="tarjeta M">
            <h1>
               Martes 
            </h1>    
    
            <strong class="ent">Entrenadores: </strong>
            <p *ngFor="let Entrenador of entrenadores" class="entrenador">{{ Entrenador.nombre }}</p>
            
            <br>
            <button class="boton" (click)="">
                Reservar
            </button>
        </div>
    
        <div class="tarjeta X">
            <h1>
               Miercoles 
            </h1>    
    
            <strong class="ent">Entrenadores: </strong>
            <p *ngFor="let Entrenador of entrenadores" class="entrenador">{{ Entrenador.nombre }}</p>
            <br>
            <button class="boton" (click)="">
                Reservar
            </button>
        </div>
    
        <div class="tarjeta J">
            <h1>
               Jueves 
            </h1>    
    
            <strong class="ent">Entrenadores: </strong>
            <p *ngFor="let Entrenador of entrenadores" class="entrenador">{{ Entrenador.nombre }}</p>
            <br>
            <button class="boton" (click)="">
                Reservar
            </button>
        </div>
    
        <div class="tarjeta V">
            <h1>
               Viernes 
            </h1>    
    
            <strong class="ent">Entrenadores: </strong>
            <p *ngFor="let Entrenador of entrenadores" class="entrenador">{{ Entrenador.nombre }}</p>
    
            <br>
            <button class="boton" (click)="">
                Reservar
            </button>
        </div>
    
        <div class="tarjeta S">
            <h1>
               Sabado
            </h1>    
    
            <strong class="ent">Entrenadores: </strong>
            <p *ngFor="let Entrenador of entrenadores" class="entrenador">{{ Entrenador.nombre }}</p>
    
            <br>
            <button class="boton" (click)="">
                Reservar
            </button>
        </div>

        <div class="tarjeta D">
            <h1>
               Domingo
            </h1>    
    
            <strong class="ent">Entrenadores: </strong>
            <p *ngFor="let Entrenador of entrenadores" class="entrenador">{{ Entrenador.nombre }}</p>
    
            <br>
            <button class="boton" (click)="">
                Reservar
            </button>
        </div>
    
    </div>


    <table  *ngIf="mostrarTablaLunes">
        <thead>
          <tr>
            <th scope="col">Hora</th>
            <th scope="col" *ngFor="let entrenador of entrenadores">{{ entrenador.nombre }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hora of horasLunes">
            <td>{{ hora.franjaHoraria }}</td>
            <td *ngFor="let entrenador of entrenadores">
              {{ obtenerIdTrainer(asignaciones, diaLunes.id, hora.id)? 'Disponible' : 'No Disponible' }}
            </td>
          </tr>
        </tbody>
      </table>
      
</body>
</html>