<div class="modal-header">
  <h1 class="modal-title" id="modal-basic-title">Mis Reservas</h1>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="form-group">
    <ul>
      <div *ngFor="let dia of getDiasPorUsuario(1)">
        <li>
          Día: {{ dia.nombre }}
          <ul>
            <div *ngFor="let hora of getHorasPorUsuario(1, dia.id)">
              <li>
                Hora: {{ hora.franjaHoraria }}
                <ul>
                  <!-- <div *ngFor=" let entrenador of getEntrenadorPorUsuario(1, dia.id, hora.id)">
                     Entrenador: {{entrenador.nombre}}
                  </div> -->
                </ul>
              </li>
            </div>
          </ul>
        </li>
      </div>
    </ul>
  </div>
  <div>
    <pre>{{ reservas | json }}</pre>
  </div>
  
</div>
