<div class="modal-header">
  <h1 class="modal-title" id="modal-basic-title">Mis Reservas</h1>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="modal-body">
  <div class="form-group">
    <ul>
      <div *ngFor="let idDia of getdiasPorUsuario(1)">
        Día: {{ idDia }}
        <div *ngFor="let idHora of getHorasPorUsuario(1, idDia)">
          Hora: {{ idHora }}
          Entrenador: {{ getEntrenadorPorUsuario(1, idDia, idHora)[0] }}
        </div>
      </div>
    </ul>
  </div>
</div>
