<div class="modal-header">
  <h1 class="modal-title" id="modal-basic-title">Mis Reservas</h1>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div class="container">
  <div class="info">
    <ul>
      <div *ngFor="let dia of getDiasPorUsuario(2, reservas)">
        <li *ngIf="getHorasPorUsuario(2, dia.id, reservas).length > 0 ">
          Día: {{ dia.nombre }}
          <ul>
            <div *ngFor="let hora of getHorasPorUsuario(2, dia.id, reservas)">
              <li>
                Hora: {{ hora.franjaHoraria }}
                <button type="button" class="btn-cancelar" (click)="cancelarReserva(2, dia.id, hora.id)">Cancelar Reserva</button>
                <ul>
                  <div *ngFor=" let entrenador of getEntrenadorPorUsuario(2, dia.id, hora.id, reservas)">
                     Entrenador: {{entrenador.nombre}}
                  </div>
                </ul>
              </li>
            </div>
          </ul>
        </li>
      </div>
    </ul>
  </div>
  <div>
  </div>
</div>
